<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chuangjin.yunyisdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NETWORK_PROVIDER" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.chuangjin.yunyisdk.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="HHDoctorSDK"
            android:value="12323423" />
        <activity
            android:name="com.chuangjin.yunyisdk.activity.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 协议部分，随便设置 -->
            <intent-filter>

                <!-- 协议部分，随便设置 -->
                <data
                    android:host="mbdsp"
                    android:path="/from"
                    android:port="8080"
                    android:scheme="mbdsp" />
                <!-- 下面这几行也必须得设置 -->
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity> <!-- 微信登录,分享回调页面 -->
        <activity
            android:name="com.chuangjin.yunyisdk.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.chuangjin.yunyisdk"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 蚂蚁云医互联网医院 -->
        <!-- 腾讯地图定位 -->
        <meta-data
            android:name="TencentMapSDK"
            android:value="${txMapAppKey}" />
        <meta-data
            android:name="TencentMapAppSecret"
            android:value="${txMapAppSecret}" /> <!-- 腾讯bugly -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${buglyAppId}" />
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="com.chuangjin.yunyi" />
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="${bugly}" /> <!-- 腾讯bugly end -->
        <!-- 百度语音识别 -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="${baiduAppId}" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="${baiduAppKey}" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="${baiduAppSecretKey}" />

        <meta-data
            android:name="SERVER_HOST"
            android:value="${serverHost}" /> <!-- H5服务器地址 -->
        <meta-data
            android:name="SERVER_HOST_POST"
            android:value="${serverHostShop}" /> <!-- md5答题 -->
        <meta-data
            android:name="MD5_ANSWER"
            android:value="${md5Answer}" /> <!-- 视频上传地址 -->
        <meta-data
            android:name="SERVER_HOST_UPLOAD"
            android:value="${serverHostUpload}" /> <!-- 穿山甲 -->
        <meta-data
            android:name="AD_FULLSCREEN_VERTICAL"
            android:value="${adFullscreenVertical}" /> <!-- 穿山甲-激励竖屏 -->
        <meta-data
            android:name="AD_REWARD_VERTICAL"
            android:value="${adRewardVertical}" /> <!-- 穿山甲-激励竖屏 -->
        <meta-data
            android:name="AD_DRAW"
            android:value="${adDraw}" /> <!-- 腾讯云鉴权url -->
        <meta-data
            android:name="UGC_LICENCE_URL"
            android:value="${ugcLicenceUrl}" /> <!-- 腾讯云鉴权key -->
        <meta-data
            android:name="UGC_KEY"
            android:value="${ugcKey}" />
        <meta-data
            android:name="WECHAT_APP_ID"
            android:value="${wechatAppId}" />
        <meta-data
            android:name="RSA_PUBLIC_KEY"
            android:value="${rsaPublicKey}"/>
        <meta-data
            android:name="DEV_RSA_PRIVATE_KEY"
            android:value="${devRsaPrivateKey}"/>
    </application>

</manifest>